*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* HEADER STYLE */
header{
    margin: 0 auto;
    background-color: rgba(0,132,253,255);
}

.h-row{
    max-width: 767px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.col-left{
    width: 150px;
    height: 100px;
    background-color: green;
}

.col-right{
    width: 150px;
    height: 100px;
    background-color: violet;
}
/* END HEADER STYLE */

/* MAIN STYLE */
.container{
    width: 100%;
    margin: 0 auto;
}

.second, .fourth, .sixth{
    background-color: rgba(151,146,228,255);
}

.row{
    max-width: 767px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.col-double{
    height: 500px;
    background-color: rgba(181,221,255,255);
    margin: 30px 50px;
    border-radius: 25px;
}

.col-30{
    height: 300px;
    background-color: rgba(181,221,255,255);
    margin: 30px 50px;
    border-radius: 25px;
}

.col{
    background-color: white;
    height: 500px;
    margin: 30px 50px;
    border-radius: 25px;
}

.violet-col{
    background-color: rgba(151,146,228,255);
    height: 300px;
    margin: 30px 50px;
    border-radius: 25px;
}
/* END MAIN STYLE */

/* FOOTER STYLE */
footer{
    margin: 0 auto;
    background-color: rgba(51,51,51,255);
}

.f-row{
    max-width: 767px;
    display: flex;
    justify-content: center;
}

.f-col{
    width: 100%;
    height: 200px;
    background-color: green;
}
/* END FOOTER STYLE */

/* RESPONSIVE SOLUTIONS (first mobile)*/
@media screen and (min-width:768px){
    .container{
        width: 100%;
    }

    .row{
        max-width:990px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .f-row{
        max-width: 990px;
    }

    .col-double{
        width: calc(100% / 3 * 2);
    }

    .col-30{
        width: 30%;
    }

}
